## Import Libraries

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split

## Loading Dataset

In [15]:
dataset = pd.read_csv("data.csv", sep=";")
dataset

   height  weight
0     160      65
1     180      85
2     176      80
3     200     105
4     172      70
5     190      95
6     179      90
7     165      68
8     177      77
9     186      91

## Splitting Dataset into Training and Test Set

In [16]:
X = dataset["height"]
y = dataset["weight"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, train_size = 0.8, shuffle=True)

## Training Set

In [17]:
print(X_train)

6    179
0    160
1    180
9    186
7    165
3    200
5    190
4    172
Name: height, dtype: int64

In [18]:
print(y_train)

6     90
0     65
1     85
9     91
7     68
3    105
5     95
4     70
Name: weight, dtype: int64

## Test Set

In [19]:
print(X_test)

2    176
8    177
Name: height, dtype: int64

In [20]:
print(y_test)

2    80
8    77
Name: weight, dtype: int64